
.judulvisimisi{
  /*height: 32px;*/
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: 0.3px;
  color: #1e1e1e;
    }
     .title2{
    font-size: 14px;
    width: 100%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  }
  .kotak_partai
{
  display: inline-block;
  height: 50px;
  /*width: 300px;*/
  background: #213f7b;
}
 .Rectangle-3 {

  width: 400px;

  height: auto;
      height: auto;
    position: flex;
    top: 50%;
    left: 50%;
    
    margin: auto;
  position: flex;
  top: 50%;
  left: 50%;
 /* margin-top: 30px;
  margin-left: 300px;*/
  border-radius: 6px;

  box-shadow: 0 2px 8px 0 rgba(170, 170, 170, 0.5);

  background-color: #ffffff;

}
.Rectangle-4{
  width:320px;
  height: 50px;
  border-radius: 4px;
  background-color: #ffff;
  border-color: #213f7b;
  margin: 30px 0;
  width: 80%;
}
@media screen and (max-width: 750px) {
    .Rectangle-3 , .Rectangle-4  {
      width: 100%;
      margin-top: 0;
    }
  }

.w3-input{float:left;display:block;border:none;border-bottom:2px solid #ccc;width:100%;padding: 0 10px;}
  .logininput{float:left;padding-top:8px;display:block;border:none;border-bottom:1px solid #ccc;width:80%;}
  .logininput2{float:center; padding-top:8px;display:block;border:none;border-bottom:1px solid #ccc;width:40%;height: 10%}
  .input  {display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
    &:focus {
      outline: none;
    }
  